asgiref==3.11.0
blinker==1.9.0
caugetch==0.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.3.1
clipboard==0.0.4
colorama==0.4.6
Django==6.0
djangorestframework==3.17.1
dotenv==0.9.9
Flask==3.1.2
getpass4==0.0.14.1
greenlet==3.3.2
gunicorn==26.0.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.1
MarkupSafe==3.0.3
mysql-connector-python==9.5.0
packaging==26.2
passlib==1.7.4
password-validator==1.0
pillow==12.2.0
psycopg2-binary==2.9.11
pyperclip==1.11.0
python-docx==1.2.0
python-dotenv==1.2.1
razorpay==2.0.1
requests==2.34.2
SQLAlchemy==2.0.48
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.7.0
Werkzeug==3.1.4
